* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #263238;
  font-family: 'Verdana', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #eceff1;
}

div {
  align-self: center;
}

a {
  color: #eceff1;
}

ul {
  margin: 20px 0 15px 0;
  text-align: left;
  list-style-type: none;
}
